@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="image-container div_welcome">
    <div class="text-center text_accueil">
        <h1 class="display-4 h1_welcome">Bienvenue !</h1>
        <p>
            Ce gestionnaire vous permet d'encoder vos collections. <br />Vous pouvez également créer des familles pour partager vos collections.
        </p>
        <p>
            Pour toute question, n'hésitez pas à envoyer un message à l'administrateur.
        </p>
        <p class="p_font">
            Prenez plaisir dans toutes vos activités !
        </p>
    </div>
</div>

