@page
@model Gestionnaire_Collections.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Réinitialisation du mot de passe";
}

<h2>@ViewData["Title"]</h2>

<div>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            @Model.ErrorMessage
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.Status))
    {
        <div class="alert alert-info">
            @Model.Status
        </div>
    }
</div>

<p>Vous pouvez vous connecter avec votre nouveau mot de passe.</p>
